NODE_ENV=development
PORT=5000
MONGO_URI=
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
COOKIE_DOMAIN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=your-test-key-id
RAZORPAY_KEY_SECRET=your-test-key-secret